<h2>About Super Rentals</h2>

<p>The Super Rentals website was created to explore the wonderful world of Ember.js. This project allows us to imagine traveling the world while simultaneously traversing the pathways of the Ember framework!</p>


{{#link-to 'contacts'}}Click here for our contacts{{/link-to}} 